<html>

    <body>
        <h1>Cuotas </h1>
        <p>valor_inmueble: {{ valor_inmueble }}</p>
        <p>tasa de capitalizacion: {{ tasa_capitalizacion }}</p>
        <p>plazo de simulacion: {{ plazo_simulacion }}</p>
        <p>porcentaje LTV: {{ porcentaje_LTV }}</p>
        <p>edad: {{ edad }}</p>
        <p>monto mensual recibido: {{ monto_mensual_recibido }}</p>
        <p>total recibido acumulado: {{ total_recibido_acumulado }}</p>
        <p>saldo proyectado: {{ saldo_proyectado }}</p>
    </body>
</html>