<!DOCTYPE html>
<html>

<body>
    <form action = "/calcular_montos">
        <div>
            valor del inmueble: <input type = "number" name = "valor_inmueble">
        </div>
        <div>
            tasa de capitalizacion: <input type = "number" name = "tasa_capitalizacion">
        </div>
        <div>
            plazo de simulacion: <input type = "number" name = "plazo_simulacion">
        </div>
        <div>
            porcentaje LTV: <input type = "number" name = "porcentaje_LTV">
        </div>
        <div>
            edad: <input type = "number" name = "edad">
        </div>
        <input type = "submit" value = "Calcular">
    </form>
</body>





<html/>