<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Hipoteca Inversa</title>
</head>
<body>
    <h1>Calculadora de Hipoteca Inversa</h1>
    <p>Selecciona una opción:</p>
    <ul>
        <li><a href="/insertar">Registrar nuevo cálculo</a></li>
        <li><a href="/buscar">Buscar por cédula</a></li>
        <li><a href="/eliminar">Eliminar por cédula</a></li>
        <p>
    Si es la primera vez que ejecuta esta aplicación, necesitará crear las tablas en la base de datos
    haciendo <a href="/crear_tabla">click aqui</a>
</p>
    </ul>
</body>
</html>